<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>

    <p *ngIf="status != 'success'">
    Crear una nueva categoria!!
    </p>
    <hr>
   
     
         <div class="alert alert-success col-md-5" *ngIf="status == 'success'">
                la categoria se creo correctamente        </div>

        <div class="alert alert-danger col-md-5" *ngIf="status == 'error'">
           La categoria no se creo        
        </div> 
<!--formulario de crear categoria-->
<form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" class="col-md-5">
<div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" class="form-control" #name="ngModel"[(ngModel)]="category.name" required/> 
<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
    La categoria no es valida, intente de nuevo!!
</small>
<br>
<input type="submit" value="guardar" class="btn btn-success" [disabled]="categoryForm.invalid"/>
</div>
</form>



<br>
</div>


