<div class="loading" *ngIf="!posts">
    cargando...
</div>

<div class="container-fluid mt-3" *ngIf="posts">
<h1>{{page_title}}</h1>
<hr>

<post-list  [posts]="posts"
            [identity]="identity"
            [url]="url"></post-list>
</div>