<div class="col md-12" *ngIf="!post">
    cargando...
</div>
<div class="col md-12 mt-3" *ngIf="post">
<h1>{{post.title}}</h1>
<hr/>
<p>{{post.category.name}} -<a [routerLink]="['/perfil', post.user.id]"> {{post.user.name+' '+post.user.surname }}</a></p>
<hr/>
<p [innerHtml]="post.content"></p>

</div>
