<div class="container"> <!--contenedor principal-->
    <br>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><!--barra de navegacion-->
      
      <a class="navbar-brand" href="#">
    <img src="assets/images/angular.png" width="30" height="30" class="d-inline-block align-top" alt="">
      NG Blog</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Categorias</a>
              </li>
              </ul>
          <ul class="navbar-nav navbar-right" *ngIf="!identity">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/registro']">Registro</a>
          </ul>
    
          <ul class="navbar-nav navbar-right"*ngIf="identity && identity.name">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{identity.name + ' ' + identity.surname}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Crear entrada</a>
              <a class="dropdown-item" href="#">Crear categoria</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Mi perfil</a>
              <a class="dropdown-item" href="#">Ajustes</a>
              <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
    
            </div>
          </li>      
        </ul>
       
      </div>
    </nav><!--cerrar barra de navegacion-->
    <router-outlet></router-outlet>
    </div><!--cerrar contenedor-->
    