<div class="loading" *ngIf="!posts">
    cargando...
</div>

<div class="container-fluid mt-3" *ngIf="posts">
   <div id="user-card">
    <div class="avatar_mask_profile float-left">
        <img src="{{url + 'user/avatar/' +identity.image}}" class="avatar_edit"/>
      </div>
<h1>Perfil de {{user.name + ' '+ user.surname}}</h1>
<p [innerHtml]="user.description"></p>
<hr>
   </div>
<post-list  [posts]="posts"
            [identity]="identity"
            [url]="url"></post-list>
</div>