/* You can add global styles to this file, and also import other style files */
.avatar_edit{
    width: 80px;
    margin-bottom: 10px ;
}
.avatar_edit img{
    width: 50px;
}
.avatar_mask{
    width: 50px;
    height: 50px;
    border-radius: 900px;
    overflow: hidden;

}
.avatar_mask img{
    width: 80px;
}
.avatar_mask_profile{
    width: 90px;
    height: 90px;
    border-radius: 900px;
    overflow: hidden;

}
.avatar_mask_profile img{
    width: 100px;
}
.post-image{
    height: 200px;
    overflow: hidden;
}
footer{
    margin-top: 75px;
    margin-left: 15px;
    color:lightslategray ;
}
