<div class="loading" *ngIf="!category">
    cargando...
</div>

<div class="container-fluid mt-3" *ngIf="category">
<h1>{{category.name}}</h1>
<hr>

<div class="loading" *ngIf="!posts">
    cargando...
</div>

<div class="alert alert-warning" *ngIf="posts && posts.length == 0">
    No hay entradas en esta categoria.
</div>

<post-list  [posts]="posts"
            [identity]="identity"
            [url]="url"></post-list>

</div>
